@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
 font-family: 'iCielGotham-Medium';
 src: url('../fonts/iCielGotham-Medium.eot');
 src: url('../fonts/iCielGotham-Medium.eot?#iefix') format('embedded-opentype'),
 url('../fonts/iCielGotham-Medium.woff') format('woff'),
 url('../fonts/iCielGotham-Medium.ttf') format('truetype'),
 url('../fonts/iCielGotham-Medium.svg#iCielGotham-Medium') format('svg');
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'iCielGotham-Thin';
 src: url('../fonts/iCielGotham-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/iCielGotham-Thin.otf') format('opentype'), url('../fonts/iCielGotham-Thin.woff') format('woff'), url('../fonts/iCielGotham-Thin.ttf') format('truetype'), url('../fonts/iCielGotham-Thin.svg#iCielGotham-Thin') format('svg');
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'iCielGotham-Ultra';
 src: url('../fonts/iCielGotham-Ultra.eot?#iefix') format('embedded-opentype'), url('../fonts/iCielGotham-Ultra.otf') format('opentype'), url('../fonts/iCielGotham-Ultra.woff') format('woff'), url('../fonts/iCielGotham-Ultra.ttf') format('truetype'), url('../fonts/iCielGotham-Ultra.svg#iCielGotham-Ultra') format('svg');
 font-weight: normal;
 font-style: normal
}
