.btn-mod, a.btn-mod {
    color: #fff;
    background: #4F4D67;
    border: 2px solid transparent;
}
.btn-mod.btn-border-w {
    border: 2px solid #4F4D67;
    background: transparent;
    color: #4F4D67;
}
.btn-mod.btn-dark {
    color: #fff;
    background: #4F4D67;
}
.border-main-color {
    border-color: #4F4D67;
}
.input-circle:focus, .input-circle input.form-control:focus, input.form-control:focus, .input-circle div.select-list select:focus, div.select-list select:focus {
 border-color: #4F4D67;
 outline: 0;
 -webkit-box-shadow: none;
 box-shadow: none
}
.main-style.radio input[type="radio"]:checked+.radio-label:before, .main-style.radio input[type="checkbox"]:checked+.checkbox-label:before {
 background-color: #4F4D67;
 border-color: #44445F
}
/*.main-style.radio input[type="radio"]:checked+.radio-label:after, .main-style.radio input[type="checkbox"]:checked+.checkbox-label:after {
    border: solid #fff;
}*/
.main-style.radio input[type="radio"]:checked+.radio-label:after, .main-style.radio input[type="checkbox"]:checked+.checkbox-label:after {
    left: 6px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    content: '';
    position: absolute;
}
.btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
    color: #FFF;
    background: #4F4D67;
    text-decoration: none;
    outline: 0;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-mod.btn-dark:hover, .btn-mod.btn-dark:focus {
    color: #FFF;
    background: #4F4D67;
}
.main-modal .modal-header {
    background-color: #4F4D67;
}
.main-modal .modal-header h4{
 color:#FFF
}
.main-modal .modal-header .close, .modal-header .close {
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 13px;
    border-radius: 50px;
    border: 1px solid #eee;
    position: relative;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.close:before, .close:after, .close-popup:before, .close-popup:after, .dimiss-pop:before, .dimiss-pop:after {
    position: absolute;
    left: 0;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #fff;
    top: 6px;
    right: 0;
    margin: 0 auto;
}
